/* BREAKPOINTS */
$extra-small-screen: 480px;
$small-screen: 736px;
$medium-screen: 980px;
$large-screen: 1280px;
$extra-large-screen: 1690px;

/* COLORS */
$white: #ffffff;
$black: #000000;
$purple: #820088;
$light-gray: #cecece;
$dark-gray: #686868;

/* BASIC */
$basic-font-color: $black;
$basic-font-family: arial;
$basic-font-size: 16px;
$max-page-width: $large-screen;

/* BUTTON */
$btn-bgc: $purple;
$btn-color: $white;
$btn-font-size: 18px;

/* PROJECTS */
$projects-item-bgc: $white;
$projects-item-border-color: $black;
$projects-item-border-radius: 5px;
$projects-item-border-style: solid;
$projects-item-border-width: 2px;
$projects-item-font-color: $black;
$projects-item-title-font-size: 20px;
$projects-item-date-font-size: 14px;
