/* BREAKPOINTS */
$EXTRASMALL: 480px;
$SMALL: 736px;
$MEDIUM: 980px;
$LARGE: 1280px;
$EXTRALARGE: 1690px;

/* COLORS */
$WHITE: #ffffff;
$BLACK: #000000;
$PURPLE: #820088;

/* BASIC */
$basic-font-color: $BLACK;
$basic-font-family: arial;
$basic-font-size: 16px;
$container-width: $LARGE;

/* HEADER NAVIGATION */
$nav-item-bgc: $PURPLE;
$nav-item-color: $WHITE;
$nav-item-font-size: 18px;

/* PROJECTS */
$projects-item-bgc: $WHITE;
$projects-item-border-color: $BLACK;
$projects-item-border-radius: 5px;
$projects-item-border-style: solid;
$projects-item-border-width: 2px;
$projects-item-font-color: $BLACK;
$projects-item-title-font-size: 20px;
$projects-item-date-font-size: 14px;

