/* BASIC */
$basic-font-color: #000000;
$basic-font-family: arial;
$basic-font-size: 16px;
$container-width: 800px;

/* HEADER NAVIGATION */
$header-nav-item-color: #ffffff;
$header-nav-item-bgc: #820088;


/* PROJECTS */
$projects-item-bgc: #ffffff;
$projects-item-border-color: #000000;
$projects-item-border-radius: 5px;
$projects-item-border-style: solid;
$projects-item-border-width: 2px;
